<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "info"> 
        <h3> {{ info["username"] }} </h3>
        <h4>Thông tin cá nhân:</h4>

        Tên: {{ info["fullname"] }}      <br>
        Email: {{ info["email"] }}       <br>
    </div>
    <div class = "thuoc_tinh">
        <h4> Thuộc tính:</h4>

        Thể chất (STR): {{ att["st"] }}     <br>
        Kiến thức (KNL): {{ att["knl"] }}   <br>
        Sáng tạo (CRE): {{ att["cre"] }}    <br>
        Nhân cách (PER): {{ att["per"] }}   <br>
        Xã hội (SOC): {{ att["soc"] }}      <br>

    <script>
    function showDiv() {document.getElementById('add_q').style.display = "block";}
    </script>
    <div class = "quote">
        <h4>Trích dẫn ưa thích:
                <button onclick= "showDiv()"> + </button>   
                <div id="add_q" style="display:none;">
                    <form method = "POST">
                        <input type="text" name = "quote" placeholder = "Nhập trích dẫn" required> <br>
                        <input type="text" name = "author" placeholder = "Nhập tác giả">
                        <button name = "add_quote">Thêm</button>   
                    </form>  
                </div>       
        </h4>

            {% for q in quotes%}
                " {{ q["quote"] }} "        <br>
                ({{ q["author"] }})         <br>
                <br>
            {% endfor %}
    </div>
    <div class = "lich_su">
        <h4> Lịch sử hoạt động: </h4>
        {% for hstr in history %}
            - {{ hstr }} <br>
        {% endfor %}
    </div>
    
</body>
</html>