<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "info"> 
        <h3> {{ info["username"] }} </h3>
        <h4>Thong tin ca nhan:</h4>

        Ten: {{ info["fullname"] }}      <br>
        Email: {{ info["email"] }}       <br>
    
    <div>
            <h4> Thuoc tinh:</h4>

            The chat (STR): {{ att["st"] }}     <br>
            Kien thuc (KNL): {{ att["knl"] }}   <br>
            Sang tao (CRE): {{ att["cre"] }}    <br>
            Nhan cach (PER): {{ att["per"] }}   <br>
            Xa hoi (SOC): {{ att["soc"] }}      <br>
    </div>

    </div>
</body>
</html>