<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike rental service</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <style>
    body {
        font-family: 'Roboto Condensed'
    }
    header {
        text-align: center
    }
    h3{
        padding-left: 37%;
        padding-top: 5%;
    }
    button {
        background-color: blueviolet;
        color: white
    }
    </style>
</head>
<body>
   
    <header><h2>BIKE MODEL IN STOCK SUBMISSION</h2></header>
    <h3>
        <pre>
    <form method = "POST">
        <label>Model</label>
        <input type="text" name = "model">

        <label>Daily fee (VND)</label>
        <input type="text" name = "dfee">

        <label>Image</label>
        <input type="text" name = "img" placeholder="enter link">

        <label>Year</label>
        <input type="text" name = "year">

        <button>Submit</button>
    </form>
        </pre>
    </h3>
</body>
</html>