<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/templates/favicon (1).ico" rel="icon" type="image/x-icon" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAATSgAAIVFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIgIREAACIiIiIhEAACIRAAIiEQACIRAAACIRACIhEAAAIhEAIiEQAgAiEQIiIRACIiIRAiIhEAAiIRESIiEQAAAAAAIiIRAAAAAAAiIhEAACIhEQIiERAAAiEQAiIREAACERAAIiERAAIREAACIiIiIhEAAAAiIiIREAD8EAAA8AEAAOHBAADD4QAAg+EAAINhAAADAQAAA4AAAAP/AAAD/wAAA8AAAIHhAACB4QAAwOEAAOADAADwBwAA" rel="icon" type="image/x-icon" />
    <title>👍 Game of Life</title>
</head>
<body>
    <div class="title">
        Game of Life
    </div>
    <a href="http://127.0.0.1:5000/sign_in" class="choco_color">Đăng nhập</a>
    <a href="http://127.0.0.1:5000/sign_up" class="choco_color">Đăng ký</a>

    <h1>Chào mừng đến với Game of Life</h1>
    <a href="http://127.0.0.1:5000/sign_in" class="choco_color">Đăng nhập</a>
    <a href="http://127.0.0.1:5000/sign_up" class="choco_color">Đăng ký</a>
</body>
</html>