<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About 'me'</title>
</head>
<body>
    <p>
        <h4>hwya ud rgrt coming here lol<br/>  
        gimme a |<<br/>
        gimme a |v|<br/>
        gimme a 5</h4>    
        <h6>that's what i tried to do when i was 13</h6> 
        
        <h5><i>juuuust kidding</i></h5>
        <h4>i speak in metaphors & cryptics ig</h4>
    </p>
</body>
</html>